@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Space+Mono&display=swap');

/* font-family: 'Outfit', sans-serif;
font-family: 'Space Mono', monospace; */


*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family:'Outfit', sans-serif; 
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-size: 15px;
}

img
{
    max-width: 100%;
    border-radius: 10px;
}

.container
{
    max-width: 340px;
    margin: 0 auto;
}

.card
{
    background-color: #fff;
    padding: 1.125rem;
    border-radius: 10px;
    margin: 1.125rem;
}

.text-content
{
    padding: 1.125rem 0;
}

h2
{
    margin-bottom: 1rem;
}